*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
}

header{
    /* height: 60px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 13, 13);
    position: fixed;
    top: 0;
    padding: 5px 50px;
    flex-wrap: wrap;
    z-index: 10;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}
nav li{
    padding: 10px ;
    font-size: 22px;
}
nav li:hover{
    color: #29d9d5;
}
a{
    text-decoration: none;
}
em{
    color: #29d9d5;
    font-size: 32px;
    padding: 5px;
}
header div img{
    height: 50px;
}
.book{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29d9d5;
    border: 2px solid #29d9d5;
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgb(103, 180, 183);
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 10px;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book:hover{
    background-color: cadetblue;
    color: white;
}
main{
    padding: 70px;
}
.p{
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
}
.p h2{
    color: blue;
    padding: 2px;
}
.p p{
    color: black;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;

}
.card{
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    transition: 1s;
}
.card:hover{
    background-color: rgba(128, 128, 128, 0.571);
    background-image: url("https://images.unsplash.com/photo-1614730321146-b6fa6a46bcb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: 200px;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: grayscale(2);
    background-size: cover;
}
.c1{
    background-image: url("https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}
.c2{
    background-image: url("https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}
.c3{
    background-image: url("https://images.pexels.com/photos/8150274/pexels-photo-8150274.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}
.c4{
    background-image: url("https://images.unsplash.com/photo-1565118531796-763e5082d113?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
}
.c5{
    background-image: url("https://images.unsplash.com/photo-1527489377706-5bf97e608852?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
}
.c6{
    background-image: url("https://images.unsplash.com/photo-1465189684280-6a8fa9b19a7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzl8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
}
.banner{
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1500763301902-fa62217f678f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 100px;
}
.banner h3{
    color:#29d9d5;
    font-size: 30px;
    padding: 20px;
    text-shadow: 2px 1px 2px rgb(58, 113, 114);
}
.banner h1{
    font-size: 70px;
    text-shadow: 3px 4px 10px black;
}
.banner p{
    text-align: center;
    padding: 10px;
    opacity: .7;
}
#ph{
    text-align: center;
}
footer{
    /* height: 50vh; */
    background-color: rgb(36, 13, 13);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 70px 20px;
}
.photo h3,.contact h3,.news h3{
    padding: 20px;
    /* paddding */
}
.photo,.contact,.news{
    padding: 10px 20px;
    width: 400px;
    font-size: 22px;
}
.photo p,.contact p,.news p{
    opacity: .7;
    padding: 10px;
}
.news input{
    width: 300px;
    height: 40px;
    background-color:transparent;
    border: 2px solid #29d9d5;
    padding: 5px;
    margin: 20px 0px;
    border-radius: 10px;
}
@media screen and (max-width:900px) {
    .cards{
        grid-template-columns: 1fr 1fr;
    }
    main{
        padding: 200px 50px;
    }
}
@media screen and (max-width:500px ){
    .cards{
        grid-template-columns : 1fr;
    }
    main{
        padding: 250px 10px;
    }
}
